table(width='600', height='25')
  tr
    td(align='center', valign='middle', width='14%')
      a(href='https://www.dfwworld.org/') HOME
    td(align='center', valign='middle', width='14%')
      a(href='https://www.dfwworld.org/Join/Individual') JOIN/RENEW
    td(align='center', valign='middle', width='14%')
      a(href='https://www.dfwworld.org/Events') EVENTS
    td(align='center', valign='middle', width='14%')
      a(href='https://www.dfwworld.org/Donate') DONATE
    td(align='center', valign='middle', width='14%')
      a(href='https://www.dfwworld.org/media/podcasts') PODCASTS
