tr.main-container(style='height: 300px; margin: 0; padding: 0;')
  td(valign='top', align='center', width='180', height='180', bgcolor='#f8f8f8', style='margin: auto; padding: 2px; text-align: center;')
    a(href='https://www.dfwworld.org/Events?cid=5&ceid=2068&cerid=0&cdt=7%2f17%2f2014', target='_blank')
      img(alt='Wadjda - Fort Worth', src='https://www.dfwworld.org/image/SH_Wadjda_120.jpg', align='center', border='0', height='120', width='120')
    div(style='margin: 0; padding: 0;')
      h2(align='center') Film Screening
      h3(align='center')
        a(href='https://www.dfwworld.org/Events?cid=5&ceid=2068&cerid=0&cdt=7%2f17%2f2014', target='_blank') <em>Wadjda</em>
       p(align='center')
        span
          | 7/17 at 7:00 PM in&nbsp;
          a(href='https://www.dfwworld.org/Events?cid=5&ceid=2068&cerid=0&cdt=7%2f17%2f2014', target='_blank') Fort Worth
        br
        span
          | 8/6 at 7:00 PM in&nbsp;
          a(href='https://www.dfwworld.org/Events?cid=5&ceid=2069&cerid=0&cdt=8%2f6%2f2014', target='_blank') Plano
      br
  td(valign='top', align='center', width='180', height='180', bgcolor='#f0f0f0', style='margin: auto; padding: 2px; text-align: center;')
    a(href='https://www.dfwworld.org/Events?cid=5&ceid=2129&cerid=0&cdt=7%2f29%2f2014', target='_blank')
      img(alt='Operation Shakespeare: The True Story of an Elite International Sting - Fort Worth', src='https://www.dfwworld.org/image/BC_OperationShakespeare_120.jpg', align='center', border='0', height='120', width='120')
    div(style='margin: 0; padding: 0;')
      h2(align='center') John Shiffman
      h3(align='center')
        a(href='https://www.dfwworld.org/Events?cid=5&ceid=2129&cerid=0&cdt=7%2f29%2f2014', target='_blank') Operation Shakespeare: The True Story of an Elite International Sting
      p(align='center')
        span
          | 7/29 at 11:30 AM in&nbsp;
          a(href='https://www.dfwworld.org/Events?cid=5&ceid=2129&cerid=0&cdt=7%2f29%2f2014', target='_blank') Fort Worth
        br
        span
          | 7:00 PM in&nbsp;
          a(href='https://www.dfwworld.org/Events?cid=5&ceid=2128&cerid=0&cdt=7%2f29%2f2014', target='_blank') Dallas
      br
  td(valign='top', align='center', width='180', height='180', bgcolor='#f8f8f8', style='margin: auto; padding: 2px; text-align: center;')
    a(href='https://www.dfwworld.org/Events?cid=5&ceid=2030&cerid=0&cdt=8%2f12%2f2014', target='_blank')
      img(alt='The Culture Map: Breaking Through the Invisible Boundaries of Global Business', src='https://www.dfwworld.org/image/SH_TheCultureMap_120.jpg', align='center', border='0', height='120', width='120')
    div(style='margin: 0; padding: 0;')
      h2(align='center') Erin Meyer
      h3(align='center')
        a(href='https://www.dfwworld.org/Events?cid=5&ceid=2030&cerid=0&cdt=8%2f12%2f2014', target='_blank') The Culture Map: Breaking Through the Invisible Boundaries of Global Business
      p(align='center')
        span 8/12 at 6:30 PM
      br
