table#outlook-button(width='180', border='0', cellspacing='0', cellpadding='0')
  tr
    td(align='center', valign='middle', width='180', height="44", bgcolor='#A00008')
      a(href='#{ button.url }', style="height: 44px; line-height: 44px;") #{ button.text } &nbsp;&rarr;

