// BEGIN PREHEADER //
table(border='0', cellpadding='0', cellspacing='0', width='100%')
  tr
    td.logo(align='center', valign='top', width='30%')
      a(href="https://www.dfwworld.org", target="_blank")
        img(src="https://www.dfwworld.org/image/LG_WAC.gif", alt="World Affairs Council of Dallas/Fort Worth", title="World Affairs Council of Dallas/Fort Worth", height="87", style='height: 87px; padding: 5px;')
    td.share(align='right', valign='top', width='60%')
      include ../share
// // END PREHEADER   