table
  tr
    td.social-icon(width='40', align='center', valign='middle')
      a(href='https://www.facebook.com/dfwworld')
        img(src="http://www.dfwworld.org/image/facebook_icon_blue_round.gif", width='30', alt="Facebook")
    td.social-icon(width='40', align='center', valign='middle')
      a(href='http://www.linkedin.com/groups?gid=105589&trk=anetsrch_name&goback=%2Egdr_1269612324772_1')
        img(src="http://www.dfwworld.org/image/linkedin_icon_blue_round.gif", width='30', alt="LinkedIn")
    td.social-icon(width='40', align='center', valign='middle')
      a(href='http://twitter.com/dfwworld')
        img(src="http://www.dfwworld.org/image/twitter_icon_blue_round.gif", width='30', alt="Twitter")
    td.social-icon(width='40', align='center', valign='middle')
      a(href='http://instagram.com/dfwworld')
        img(src="http://www.dfwworld.org/image/instagram_icon_blue_round.gif", width='30', alt="Instagram")
    td.social-icon(width='40', align='center', valign='middle')
      a(href='http://www.youtube.com/wacadmin')
        img(src="http://www.dfwworld.org/image/youtube_icon_blue_round.gif", width='30', alt="YouTube")