$font-stack: Helvetica, sans-serif;
$dark-blue: #083A81;
$bright-blue: #2A5EB9;
$light-blue: #BBE4FF;
$bg-grey: #E4E4E4;
$caption-link: #E7F1FD;
$council-white: #F0F0F0;
$council-red: #A00008;
$table-bg: #E6E7E4;
$preheader-bg: #f4f4f4;

@import "client";
@import "reset";
@import "template";
