#templateBody {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  background-color: #f4f4f4;
}

#featured{
  background-color: #fefefe;
}

.bodyContent {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 150%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: left;
  color: #505050;
  a {
    &:link, &:visited, .yshortcuts {
      font-weight: normal;
      text-decoration: underline;
      color: #a00008;
    }
  }
  img {
    display: inline;
    max-width: 560px;
    height: auto;
  }
}
