#templatePreheader {
  border-bottom: 1px solid #ccc;
  background-color: #f4f4f4;
}

.preheaderContent {
  font-family: Helvetica;
  font-size: 10px;
  line-height: 125%;
  text-align: left;
  color: #808080;
  a {
    &:link, &:visited, .yshortcuts {
      font-weight: normal;
      text-decoration: underline;
      color: #606060;
    }
  }
}

#templateHeader {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  background-color: #f4f4f4;
}

.headerContent {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-align: left;
  vertical-align: middle;
  color: #505050;
  a {
    &:link, &:visited, .yshortcuts {
      font-weight: normal;
      text-decoration: underline;
      color: #eb4102;
    }
  }
}

#headerImage {
  max-width: 600px;
  height: auto;
}
