#templateBody
{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    background-color: #f4f4f4;
}

.bodyContent
{
    font-family: Helvetica;
    font-size: 16px;
    line-height: 150%;

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    text-align: left;

    color: #505050;
}

.bodyContent a:link,
.bodyContent a:visited,
.bodyContent a .yshortcuts
{
    font-weight: normal;

    text-decoration: underline;

    color: #eb4102;
}

.bodyContent img
{
    display: inline;

    max-width: 560px;
    height: auto;
}
