body {
  background-color: #FEFEFE;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: #444444; }

#bg {
  width: 100%;
  -webkit-box-shadow: inset 0px -10px 600px 10px rgba(50, 50, 50, 0.03);
  -moz-box-shadow: inset 0px -10px 600px 10px rgba(50, 50, 50, 0.03);
  box-shadow: inset 0px -10px 600px 10px rgba(50, 50, 50, 0.03); }

h2 {
  font-size: 1.25em;
  line-height: 150%; }

p, ul li {
  font-family: Helvetica, sans-serif;
  color: #333333;
  line-height: 125%; }

a {
  color: #083A81;
  font-weight: bold;
  text-decoration: none; }

.container-table {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  height: auto; }
  .container-table .main-content td.caption {
    background-color: #222222;
    vertical-align: middle;
    padding: 5px; }
    .container-table .main-content td.caption p {
      color: #FFFFFF;
      text-align: center;
      font-size: 13px;
      line-height: 150%;
      margin: 8px; }
      .container-table .main-content td.caption p a {
        color: #E7F1FD;
        border-bottom: 1px solid #E7F1FD; }

#header-content {
  font-weight: bold;
  color: #083A81;
  font-size: 11px;
  text-decoration: none; }
  #header-content #billboard {
    background-color: #F0F0F0;
    font-size: 60px;
    margin: 0;
    padding: 0; }
  #header-content #weblinks {
    background-color: #083A81; }
    #header-content #weblinks table {
      height: 25px;
      margin: auto; }
      #header-content #weblinks table td {
        padding-top: 7px;
        padding-bottom: 5px; }
        #header-content #weblinks table td a {
          height: 25px;
          line-height: 15px;
          font-size: 12px;
          color: #F0F0F0; }
  #header-content .social {
    height: 40px; }
    #header-content .social .social-icon {
      width: 40px;
      height: 40px; }
    #header-content .social #date {
      color: #A00008; }

.top-links {
  height: 40px;
  margin: 10px auto; }
  .top-links td {
    text-align: center;
    margin: auto;
    vertical-align: middle; }
    .top-links td.share {
      width: 240px; }
      .top-links td.share .text {
        text-align: left;
        padding-left: 3px; }
    .top-links td.help {
      width: 360px; }
    .top-links td a {
      font-size: 10px;
      line-height: 25px;
      height: 25px; }

td#main-intro-text {
  width: 310px;
  padding-right: 15px; }

td#table-of-contents {
  padding: 5px 0px; }
  td#table-of-contents table {
    width: 240px;
    margin: auto;
    background-color: #f8f8f8;
    border: 1px solid #AAAAAA;
    border-bottom: 4px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: 0px 5px 25px -5px #888888; }
    td#table-of-contents table h3 {
      color: #083a81;
      font-size: 18px;
      height: auto;
      line-height: 125%;
      margin: 0;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      width: 100%; }
    td#table-of-contents table td {
      border: 1px solid #eeeeee;
      padding: 7px; }
      td#table-of-contents table td.title {
        padding: 5px;
        margin: 0; }
      td#table-of-contents table td p {
        font-size: 11px;
        line-height: 150%;
        margin: 0;
        padding: 0; }

.container-table .main-content p {
  font-size: 13px;
  line-height: 150%;
  text-align: left;
  color: #404040; }
.container-table .main-content .large {
  line-height: 200%;
  font-size: 200%; }
  .container-table .main-content .large.quotation-mark {
    text-align: center;
    margin: auto;
    font-weight: bold; }
.container-table .main-content .quote {
  background-color: #F0F0F0;
  margin-left: 10px;
  width: 580px;
  border-left: 3px solid #AAAAAA; }
  .container-table .main-content .quote .quotation-mark {
    line-height: 100%;
    font-size: 300%; }
.container-table .main-content #main-intro-text h2, .container-table .main-content #main-intro-text p, .container-table .main-content .full h2, .container-table .main-content .full p, .container-table .main-content .left h2, .container-table .main-content .left p, .container-table .main-content .right h2, .container-table .main-content .right p, .container-table .main-content .float-left h2, .container-table .main-content .float-left p, .container-table .main-content .float-right h2, .container-table .main-content .float-right p {
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
  text-align: left; }
.container-table .main-content .full .imgContainer {
  background-color: #222222; }
.container-table .main-content .full img {
  width: 600px;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #111111; }
.container-table .main-content .left.imageContainer, .container-table .main-content .right.imageContainer {
  border: 2px solid #cccccc;
  border-top: none;
  border-bottom: none;
  padding: 0;
  background-color: #333333;
  width: 240px; }
  .container-table .main-content .left.imageContainer img, .container-table .main-content .right.imageContainer img {
    width: 240px;
    margin: 0px;
    border-bottom: 3px solid #222222; }
  .container-table .main-content .left.imageContainer td.caption p, .container-table .main-content .right.imageContainer td.caption p {
    text-align: left; }
.container-table .main-content .float-left table.imageContainer, .container-table .main-content .float-right table.imageContainer {
  display: inline-block;
  width: 260px;
  height: auto; }
  .container-table .main-content .float-left table.imageContainer img, .container-table .main-content .float-right table.imageContainer img {
    padding: 10px 5px 5px;
    margin: 5px; }
.container-table .main-content .float-left {
  float: left; }
  .container-table .main-content .float-left table.imageContainer {
    float: left; }
    .container-table .main-content .float-left table.imageContainer img {
      margin-top: 10px; }
.container-table .main-content .float-right {
  float: right; }
  .container-table .main-content .float-right table.imageContainer {
    float: right; }
.container-table .main-content .banner {
  border: 5px solid #f8f8f8; }
  .container-table .main-content .banner p {
    color: #ffffff;
    margin: 10px; }
.container-table .main-content .space {
  line-height: 1px;
  display: block;
  clear: both; }

#upcoming {
  text-align: center;
  margin: auto; }
  #upcoming td {
    text-align: center;
    margin: auto;
    width: 120px;
    height: 300px; }
    #upcoming td h3 {
      line-height: 125%; }
    #upcoming td p {
      font-size: 14px; }
      #upcoming td p span {
        display: block; }

.no-underline {
  text-decoration: none; }
