#templateFooter
{
    border-top: 1px solid #fff;
    background-color: #f4f4f4;
}


.footerContent
{
    font-family: Helvetica;
    font-size: 10px;
    line-height: 150%;

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    text-align: left;

    color: #808080;
}

.footerContent a:link,
.footerContent a:visited,
.footerContent a .yshortcuts,
.footerContent a span
{
    font-weight: normal;

    text-decoration: underline;

    color: #606060;
}
