#bodyCell
{
    padding: 20px;
}
#templateContainer
{
    width: 600px;
}

body,
#bodyTable
{
    background-color: #dee0e2;
}

#bodyCell
{
    border-top: 4px solid #bbb;
}

#templateContainer
{
    border: 1px solid #bbb;
}

h1
{
    font-family: Helvetica;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    line-height: 100%;

    display: block;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;

    text-align: left;
    letter-spacing: normal;

    color: #202020 !important;
}

h2
{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    line-height: 100%;

    display: block;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;

    text-align: left;
    letter-spacing: normal;

    color: #404040 !important;
}

h3
{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    line-height: 100%;

    display: block;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;

    text-align: left;
    letter-spacing: normal;

    color: #606060 !important;
}

h4
{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    line-height: 100%;

    display: block;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;

    text-align: left;
    letter-spacing: normal;

    color: #808080 !important;
}
